#DEBUG {
	display: none;
}

#awt-header {
	background-image: url("header_bg.png");
	background-size: 100% 100%;
	background-color: inherit;
	border-bottom: 1px solid #96cbdd;
	margin-bottom: 20px;
}

#awt-header h1 {
	font-weight: bold;
	font-style: italic;
}

#awt-page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -62px; /* Negative indent footer by it's height + header border + footer border */
}

#awt-page-push, #awt-footer {
	height: 60px;
}

#awt-footer {
	background-color: #d8e6ff;
	border-top: 1px solid #96cbdd;
}

.awt-footer-line-1 {
	margin: 10px 0px 0px 0px;
	height: 20px;
	text-align: center;
}

.awt-footer-line-2 {
	margin: 0px 0px 10px 0px;
	height: 20px;
	text-align: center;
}

@media (max-width: 767px) {
	#awt-header, #awt-footer {
		margin-right: -20px;
		margin-left: -20px;
	}
}

html, body {
	height: 100%;
}

i {
	margin: 0px 3px 0px 0px;
}

.awt-image-floated {
	float: left;
	margin: 20px;
}

.awt-image-centered {
	display: block;
	margin: 20px auto 20px auto;
}

.awt-title {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #424242;
  border: 0;
  border-bottom: 1px solid #96cbdd;
}

.awt-section {
	font-size: 18px;
}

.awt-redirect {
	margin: 20px 0px 20px 0px;
}

.awt-menubar-pinup {
	position: fixed;
	top: 20px;
}